<div class="form-group col-lg-12"><label class="col-lg-12">Nome</label><input [(ngModel)]="Usuario.Nome" type="text" class="form-control"></div>
<div class="form-group col-lg-12"><label class="col-lg-12">Login</label><input [(ngModel)]="Usuario.Login" type="text" class="form-control"></div>
<div class="form-group col-lg-12"><label class="col-lg-12">Senha</label><input [(ngModel)]="Usuario.Senha" type="password" class="form-control"></div>
<div class="form-group col-lg-12">
  <button (click)="salvar()" class="btn btn-danger pull-right">
    Registrar
  </button>
</div>